#allLists {
  padding-left: 0px;
  list-style: none;
}

/* .contentsSumnail {
} */

.h1Title {
  padding-top: 70px;
  /* 헤더때문에 잘리는 여백을 여기에서 추가했음  */
}

.contentPreview {
  width: 100%;
  margin: auto;
  background-color: white;
}

.contentPreview > a > img {
  width: 100%;
  border-radius: 10px;
}

.contentsList > h1 {
  font-size: 20px;
  font-weight: bold;
}
.contentPreview > h2 {
  padding-top: 15px;
  font-size: 18px;
}

.contentPreview > h3 {
  font-size: 15px;
  padding-bottom: 30px;
}

.detail_title {
  padding-top: 100px;
  padding-bottom: 15px;
}

.detail_explain {
  /* border: 1px solid black; */
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin: auto;
  text-align: left;
}

.categoryTag {
  /* border: 1px solid purple; */
  display: inline-flex;
  margin-bottom: 15px;
}

.categoryTag > p {
  margin: auto;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f0f2;
}
