* {
  max-width: 820px;
  margin: auto;
}

body {
  background-color: #f0f0f2;
  width: 80%;
  margin: auto;
}

/* 폰트 설정 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

/* 태그로 폰트 스타일 지정 */
h1 {
  font-size: 25px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: #c0c2c3;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

h5 {
  font-size: 15px;
  font-weight: 300;
  color: #c0c2c3;
}

.px13 {
  font-size: 13px;
}

.h1_dlTitle {
  padding-top: 30px;
  padding-bottom: 15px;
}

/* 폰트 스타일 class로도 지정 */
.h1 {
  font-size: 25px;
  font-weight: 800;
}

.h2 {
  font-size: 20px;
  font-weight: 600;
}

.h3 {
  font-size: 20px;
  font-weight: 400;
  color: #c0c2c3;
}

.h4 {
  font-size: 18px;
  font-weight: 300;
}

.h5 {
  font-size: 15px;
  font-weight: 300;
  color: #c0c2c3;
}

/* 버튼 설정 */
button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-width: 0px;
}
