* {
  padding: 0;
  margin: 0;
}

header {
  background-color: white;
  /* border: 1px dotted brown; */
  /* 수직 중앙 정렬하기 */
  position: fixed;
  height: 60px;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  /* position fixed 때문에 부모 요소로부터 독립되어  */
}

header div img {
  /* width: 20%; */
  /* min-width: 80px; */
  max-width: 150px;
  /* 수평, 수직 중앙 정렬하기 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px dotted red; */
}

footer div {
  width: 100%;
  margin: auto;
  color: #9fa2a5;
  /* border: 1px solid green; */
  background-color: #f0f0f2;
  padding: 30px 20px;
}

.link_font {
  color: #9fa2a5;
  text-decoration: none;
}

.footerBtn {
  padding: 0px;
}
