#result {
  margin: auto;
  display: none;
  background-color: white;
  color: black;
  width: 100%;
  text-align: center;
  /* border: 1px solid blue; */
}

.resultname {
  width: 90%;
  margin: auto;
  padding-bottom: 15px;
  /* border: 1px solid green; */
}

.resultDesc {
  /* border: 1px solid blue; */
  text-align: left;
  width: 90%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
}

/*kakao button*/
.kakao {
  color: #000000;
  background-color: #fee500;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
}

.kakao:hover,
.kakao:focus {
  background-color: #fee510;
  color: #000000;
}

/*gohome button*/
.gohome {
  background-color: blue;
  font-size: 20px;
  border: 0px;
  border-radius: 10px;
  margin-top: 30px;
}
/*결과보기 버튼 및 광고 section*/
#viewResult {
  display: none;
  /* background-image: url("/contents/2.summercolor/img/background-1.gif");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height:85vh; */
}
.setResultDisplay {
  padding-top: 75px;
  padding-bottom: 0.5vh;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.setResultDisplay img {
  width: 100%;
}
#resultComment {
  margin-top: 10px;
  padding: 0 15px;
  color: #222;
  font-size: 1em;
}
.resultBtnSection {
  /* background-color: white; */
  width: 100%;
  height: 20vh;
  /* margin-top:30vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}
.resultBtnSection > div {
  position: relative;
}
#viewResultBt,
#viewResultBtn {
  width: 80vw;
  max-width: 614px;
}
#advertisementClose {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  z-index:2;
  width: 25px;
  height: 25px;
  right: 0;
  top: 0;
  pointer-events: none;
  color: #fff;
}
#viewResultBtn {
  display:none;
}
#viewResultBt p {
  border: 1px solid red;
}

/* .resultBtn {
  display: block;
  background-color: #446ff2;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 80%;
  letter-spacing: 0.1em;
  height: 50px;
  padding-top: 5px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
} */

/* .resultBtn:hover {
  background-color: #2256f2;
} */

.resultShare {
  height: 20%;
  text-align: center;
  /* background-color: #fff; */
}
.downloadImg {
  margin-bottom: 2.5vh;
}
.resultShare > div {
  margin-top: 20px;
  padding: 20px;
  display: inline-block;
  background-color: inherit;
  border-radius: 10px;
}
.resultShareBtn {
  display: flex;
  background-color:rgba(255,255,255,0.7);
  justify-content: space-between;
  width: 20vh;
  margin-top: 2vh;
  border-radius: 20px;
  padding:1vh 0;
}

.viewResultBottom {
  text-align: center;
  padding: 5vh 0;
  background-color: #fff;
}

.viewResultBottom button {
  background-color: #446ff2;
  color: #fff;
  /* width: 40vh;
  height: 6vh;
  padding-top: 8px;
  border-radius: 10px; * */
  /* border: 1px solid blue; */
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  font-size: 16px;
}

.viewResultBottom button:hover,
.viewResultBottom button:focus {
  color: white;
}

.resultShare button {
  position: relative;
}
.resultShare button:hover::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(68, 111, 242, 0.1);
}
.viewResultBottom button:hover {
  background-color: #2256f2;
}
.gohome:hover,
.gohome:focus {
  background-color: whitesmoke;
  color: #000000;
}

.testShareTitle {
  /* border: 1px solid green; */
  padding-top: 30px;
  margin-bottom: 0px;
}

.resultHead {
  /* border: 1px solid brown; */
  padding-top: 85px;
  /* header 때문에 발생하는 잘림 방지를 위해 여백 추가 */
}
